body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #919191;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #919191;
}

.content-header {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
}
.content-header > h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 0 25px;
  color: #262626;
}
.logo {
    width: 94.84px;
    height: 30px;
    margin-top: -62px;
    margin-left: 26px;
    margin-bottom: 23px
}

#post-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.mobile-navi {
  max-width: 500px; 
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 58px;
  margin-top: 75px;
  position: fixed; 
  bottom: 0; 
}

.menu {
  display: flex;
  height: 100%;
  margin-left: 0;
  align-items: center; 
}

.menu img {
  width: 30px;
  height: 30px;
  margin-left: 36px;
  margin-right: 36px;
  height: 100%;
}

.footer-bar {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #fff;
}

.post {
  display: flex;
  width: 400px;
  margin: 16px;
}

#post-container {
  margin-top: 13px;
}

.post p.author {
  font-size: 14px;
  font-weight: 500;
}

.post p.content {
  margin-top: 12px;
  font-weight: 400;
}

.post img {
  width: 44px;
  height: 44px;
  margin-left: 12px;
}

.post p {
  margin: 6px;
}

.post div.post-text {
}

.mobile-navi {
  width: 100%;
  height: 58px;
  border-top: 0.2px solid #048982;
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu {
  margin-left: 0px;
}

.mobile-navi img {
  width: 30px;
  height: 30px;
  margin-left: 36px;
  margin-right: 36px;
}


@media screen and (max-width: 500px) {

    .logo {
        width: 94.84px;
        height: 30px;
        margin-top: -70px;
        margin-left: 26px;
    }

    .post {
        display: flex;
        align-items: center;
        
    }

    #post-container {
   margin-top: 13px;
 }
   
   .post p.author {

    font-size: 14x;
   }
 .post img {
    width: 44px;
    height: 44px;
    margin-left: 12px;
 }
.post p {
    margin: 6px;
}
  .post div.post-text {

  }

  .mobile-navi {
    width: 404px;
    height: 58px;
    border-top: 0.2px solid #048982;
    align-items: center;
    justify-content: center;
    display: flex;
    
  }
.menu {
    margin-left: 0px;
}
  .mobile-navi img {
    width: 30px;
    height: 30px;
    margin-left: 36px;
    margin-right: 36px; 
  }
}
.contents-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 58px;
    max-width: 500px;
    margin: 0 auto;
    border-top: 1px solid #048982;
}
.contents-footer > a {
    width: 20%;
    height: 100%;
}
.ico {
    position: relative;
    width: 30px;
    height: 30px;
}
.ico::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.ico.ico-home::after {
    background: url('image/images/Home-on.svg') no-repeat center center;
    background-size: 30px 30px;
}
.ico.ico-post::after {
    background: url('image/images/Post.svg') no-repeat center center;
    background-size: 30px 30px;
}
.ico.ico-chat::after {
    background: url('image/images/chat-dots.svg') no-repeat center center;
    background-size: 25px 25px;
    filter: grayscale(50%) brightness(120%);
}
.ico.ico-profile::after {
    background: url('image/images/Profile.svg') no-repeat center center;
    background-size: 30px 30px;
}
